BILLING_ACCOUNT="<YOUR_BILLING_ACCOUNT_ID>"
ORGANIZATION_ID="<YOUR_ORGANIZATION_ID>"
GOOGLE_APPLICATION_CREDENTIALS="<ABSOLUTE_PATH_TO_SERVICE_ACCOUNT_KEY_JSON>"
VM_ACCESS_USER_EMAIL="<YOUR_VM_ACCESS_USER_EMAIL>"
MACHINE_TYPE="e2-micro"
ENABLE_PUBLIC_IP="false"
USE_PUBLIC_SUBNET="false"
